body {
 background: #eaf2ff;
}

.headerNavIcons{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.headerNavIcons svg{
    margin-inline: 10px;
}

.headerUsuario{
    display: none;
}

.css-1tk1bks-MuiDivider-root{
    border-color: #dedcdc !important;
    border-width: 1px !important;
}

canvas{
    width: 300px !important;
    height: 300px !important;
} 

.section{
    background: #fff;
    width: 40%;
    min-width: 350px;
    border-radius: 5px;
    margin: 40px 0;
}

.tituloSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #508dfc;
    font-size: 20px;
    padding: 15px 15px 0px 15px;
}

.tituloSection svg{
    font-size: 1.2rem;
}

.tituloSection svg path{
    fill: #bdbdbd;
}

p, h3{
    margin: 0;
}

p{
    font-size: 14px;
}

 h3{
   font-size: 15px; 
}

.flag{
    padding: 5px;
    width: fit-content;
}

.ativo{
   background: #33bc6a; 
}

.provisorio{
    background: #f09e23;
}

.dataCadastro{
    color: #bdbdbd;
}

.dadosColaboradores{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.colaboradorWrapper{
    position: relative;
    padding: 15px;
}

.divider{
    border-bottom:1px solid #bdbdbd; 
}

@media (min-width: 768px){
    .headerNavIcons{
        min-width: 300px;
    }

    .headerUsuario{
        display: flex;
    }

    .headerUsuario button{
        margin-inline: 5px;
    }
}

